
    <form method="get" action="/quizes/answer" >
      Pregunta: <%=pregunta %>
      <input  type="text" name="respuesta" Value="Responda aquí">
      <input  type="submit"  Value="Enviar">
    </form>
